{% extends 'get_docs/base.html' %}

{% block content %}

<table class="field" xmlns="http://www.w3.org/1999/html">
    <thead class="border-bottom font-weight-bold">
    <tr>
        <td>Название работы</td>
    </tr>
    </thead>

    {% for object in object_list %}
    <tr>
        <td>{{ object.name_work }}</td>
        <td>
            <button><a href='/fillin/{{object.pk}}/delete' class='class="btn text-secondary px-0'> Delete
            </a></button>
        </td>
        <td>
            <button><a href='/fillin/{{object.pk}}/update' class='class="btn text-secondary px-0'> Update
            </a></button>
        </td>

        {% endfor %}
    </tr>

</table>
{% endblock content %}


